/* Reset some default styles for better consistency across browsers */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a stylish background gradient for the body */
body {
    background: linear-gradient(135deg, #FFA07A, #FF6F61);
    font-family: 'Poppins', sans-serif;
    color: #333; /* Dark text for better contrast */
}

/* Style the header section */
header {
    background: linear-gradient(135deg, #2f3640, #4d5565);
    color: #fff;
    padding: 40px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    transition: transform 0.3s ease-in-out;
}

/* Add a subtle animation to the profile image on hover */
.profile:hover img {
    transform: scale(1.1);
}

/* Style the contact information section */
.info-section {
    background: #fff;
    margin: 20px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #333; /* Dark text for better contrast */
}

/* Style the section headers */
.section-header {
    cursor: pointer;
    padding: 15px;
    background-color: #2f3640;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Add styles to the content container */
.content-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* Change the background color when hovering over the section header */
.section-header:hover {
    background-color: #4d5565;
}

/* Style the footer */
footer {
    background: linear-gradient(135deg, #2f3640, #4d5565);
    color: #fff;
    text-align: center;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
    header {
        padding: 30px;
    }

    .info-section {
        margin: 15px;
        padding: 20px;
    }
}
